html, body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.button {
    font-size: 256px;
    position: absolute;
    top: 50dvh;
    left: 50dvw;
    translate: -50% -50%;
    animation: do-the-thing 1s ease-in-out;
    opacity: 0;
    text-shadow: 0 0 0.5em yellow;
}

@keyframes do-the-thing {
    0% {scale: 0;opacity:0;}
    5% {scale: 100%;opacity:1;}
    100% {scale: 0;opacity:0;}
}

input {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    background-color: black;
    border: grey 2px solid;
    outline: 0;
    height: 2em;
}

input:focus-within {
    border: yellow 2px solid;
    outline: 0;
}